body {
  background-color: whitesmoke;
}
/* .form-budget-view {
  background-color: #bcbcbc;
} */

.garis {
  width: 480px;
  height: 5px;
  background-color: #bcbcbc;
  margin: auto;
  margin-top: 126px;
  z-index: -1;
}
.top-dashboard {
  background-color: white;
}

.top-dashboard ul {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}

.top-dashboard ul li {
  list-style: none;
  margin: 15px;
}

.top-dashboard > span {
  display: grid;
  position: absolute;
}

.top-dashboard ul li .fas {
  color: #fff;
  font-size: 30px;
  line-height: 120px;
  transition: 0.5s;
  margin-top: -18px;
}
.top-dashboard ul li .fas:hover {
  color: #ffffff;
}
.top-dashboard ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #bcbcbc;
  margin: 15px;
  text-align: center;
  transition: 0.8s;
  transform: translate(1px);
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.top-dashboard ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.top-dashboard ul li:nth-child(1) a:hover {
  background-color: #3bb9ff;
}
.top-dashboard ul li:nth-child(2) a:hover {
  background-color: #3bb9ff;
}
.top-dashboard ul li:nth-child(3) a:hover {
  background-color: #3bb9ff;
}
.top-dashboard ul li:nth-child(4) a:hover {
  background-color: #3bb9ff;
}

/* 
content */
.content {
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

.content .header {
  text-transform: uppercase;
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  margin-left: -180px;
}

.content ul {
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-between;
  margin: 10px;
}

.content ul li button {
  color: #bcbcbc;
  text-decoration: none;
  margin: 20px;
  margin-left: -10px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  background-color: transparent;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-color: #bcbcbc;
  border-style: solid;
}

.budget-form {
  background-color: whitesmoke;
  height: 50vh;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
/* 
input */

.card {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
}

.card-content {
  padding: 20px;
  margin-left: 10px;
  /*overflow-x: auto;*/
}

.card-content input {
  border-radius: 10px;
  border-style: solid;
  border-color: whitesmoke;
  padding-left: 5px;
}

.card-content .input-information {
  height: 80px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 20px;
  font-weight: bold;
}

table td {
  padding: 10px;
}

td input {
  width: 60%;
  height: 30px;
  margin-left: 100px;
}

table th {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 15px 12px;
  text-align: left;
}
